In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('titanic3.csv')

In [4]:
import numpy as np
grades = np.array(data)
print(grades)

[[1 1 'Allen, Miss. Elisabeth Walton' ... '2' nan 'St Louis, MO']
 [1 1 'Allison, Master. Hudson Trevor' ... '11' nan
  'Montreal, PQ / Chesterville, ON']
 [1 0 'Allison, Miss. Helen Loraine' ... nan nan
  'Montreal, PQ / Chesterville, ON']
 ...
 [3 0 'Zakarian, Mr. Mapriededer' ... nan 304.0 nan]
 [3 0 'Zakarian, Mr. Ortin' ... nan nan nan]
 [3 0 'Zimmerman, Mr. Leo' ... nan nan nan]]

In [9]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)
print (type(data),'x 2:', data * 2)
print('---')
print (type(grades),'x 2:', grades * 2)

grades.shape
grades[0]

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
<class 'list'> x 2: [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
---
<class 'numpy.ndarray'> x 2: [[2 2 'Allen, Miss. Elisabeth WaltonAllen, Miss. Elisabeth Walton' ...
  '22' nan 'St Louis, MOSt Louis, MO']
 [2 2 'Allison, Master. Hudson TrevorAllison, Master. Hudson Trevor' ...
  '1111' nan
  'Montreal, PQ / Chesterville, ONMontreal, PQ / Chesterville, ON']
 [2 0 'Allison, Miss. Helen LoraineAllison, Miss. Helen Loraine' ... nan
  nan 'Montreal, PQ / Chesterville, ONMontreal, PQ / Chesterville, ON']
 ...
 [6 0 'Zakarian, Mr. MapriedederZakarian, Mr. Mapriededer' ... nan 608.0
  nan]
 [6 0 'Zakarian, Mr. OrtinZakarian, Mr. Ortin' ... nan nan nan]
 [6 0 'Zimmerman, Mr. LeoZimmerman, Mr. Leo' ... nan nan nan]]

array([1, 1, 'Allen, Miss. Elisabeth Walton', 'female', 29.0, 0, 0,
       '24160', 211.3375, 'B5', 'S', '2', nan, 'St Louis, MO'],
      dtype=object)